@{ 
    ViewData["Title"] = "项目管理"; 
    ViewData["ViewType"] = "mdEditor"; 
}

<script>
//   $(function(){

//  console.log('@ViewData["tempID"]');
// })
</script>


<div class="box box-primary" style="padding-top: 6px;">
            <div class="box-header ui-sortable-handle" style="cursor: move;">
              <i class="ion ion-clipboard"></i>

              <h3 class="box-title">功能块管理</h3>

              <div class="box-tools pull-right">
                <ul class="pagination pagination-sm inline">
                  <li><a href="#">«</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">»</a></li>
                </ul>
              </div>
            </div>
            <!-- /.box-header -->
            <div id="probody" class="box-body">
              <ul class="todo-list ui-sortable">
                <li>
                  <!-- drag handle -->
                      <span class="handle ui-sortable-handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
                  <!-- todo text -->
                  <span class="text">基于bootscrap的pc前端</span>
                  <!--<small class="label label-danger"><i class="fa  fa-user-plus"></i>顾锋</small>-->
                  <div class="tools">
                    <i class="fa fa-edit"></i>
                    <i class="fa fa-trash-o"></i>
                  </div>
                </li>
              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix no-border">
              <button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add item</button>
            </div>
          </div>



<script>
    var proVue = new Vue({
      el: "#probody",
      data: {
        proData: JSON.parse('@Html.Raw(ViewData["proData"])')
      },
      method: {

      },
      created: function () {
        // this.$http.
      }
    })
</script>